body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100%;
}

/*Nav responsive*/

.topnav {
    overflow: hidden;
    background-color: #E81E5F;
}

.topnav a {
    float: left;
    display: block;
    color: #FFF4E5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.topnav a:hover {
    background-color: #FFD8D9;
    color: #E81E5F;
}


/*Sección de animales*/

.animales {
    background-color: #2F0050;
    min-height: 100vh;
    overflow: hidden;
}

.animales-container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.animal-card {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    background-color: #000000;
    margin: 10px;
    position: relative;
}

.animal-foto {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.65;
}

.animal-nombre  {
    margin: 10px 0px 5px 0px;
}

.animal-info {
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.animal-nombre {
    font-size: 20px;
    font-weight: 800;
    color: #FFF4E5;
}

.animal-especie {
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    color: #FFF4E5;
}

.animal-link {
    background-color: #139F6E;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: #FFF4E5;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.animal-link:hover {
    background-color: #03D494;
}


/* Vista de animal particular */

.solo {
    min-height: 100vh;
    overflow: hidden;
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF4E5;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-style: italic;
    font-weight: 400;
}

@media screen and (max-width: 600px) {
    .hero {
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero h1 {
        font-size: 4em;
    }
    
    .hero h2 {
        font-size: 1.5em;
        font-weight: 400;
    }
}

/* Solo - descripcion */

.info {
    padding: 100px;
}

.info h2 {
    font-size: 2em;
}

.info p {
    font-size: 1.25em;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .info {
        padding: 30px;
    }
}

/* Info de hábitat */
.habitat {
    background-color: #2F0050;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: fit-content;
    padding: 30px;
}

.habitat-imagen {
    width: 40vw;
    border-radius: 15px;
}

.habitat-info {
    width: 40vw;
    color: #FFF4E5;
    text-align: justify;
}

.habitat-info h2 {
    font-size: 2em;
}

.habitat-info p {
    font-size: 1.25em;
}

@media screen and (max-width: 1000px) {
    .habitat-imagen {
        width: 90vw;
    }

    .habitat-info {
        width: 75vw;
    }

    .habitat-info h2 {
        font-size: 1.70em;
    }

    .habitat-info p {
        font-size: 1em;
    }
}

.tabla-container {
    padding: 30px;
    background-color: #139F6E;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.tabla {
    font-size: 1.5em;
    border-collapse: collapse;
    text-align: center;
    height: 100%;
}

.tabla th, .tabla td {
    padding: 10px 15px;
    width: 140px;
    height: 70px;
}

.tabla th {
    background-color: #FCA201;
    color: #2F0050;
}

.tabla td {
    background-color: #FFF4E5;
    color: #2F0050;
}

.tabla-esquina-si {
    border-radius: 15px 0 0 0;
}

.tabla-esquina-sd {
    border-radius: 0 15px 0 0;
}

.tabla-esquina-id {
    border-radius: 0 0 15px 0;
}

.tabla-esquina-ii {
    border-radius: 0 0 0 15px;
}

.tabla-img {
    border-radius: 15px;
    max-width: 50%;
    max-height: 100%;
}

@media screen and (max-width: 1000px) {
    .tabla {
        font-size: 1.2em;
    }

    .tabla-img {
        max-width: 100%;
    }
}

/*******************/
/* Estilos de Home */

.home {
    min-height: 100vh;
    overflow: hidden;
}

.home-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://www.xtrafondos.com/wallpapers/un-jaguar-en-mexico-1447.jpg');
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    color: #FFF4E5;
    position: relative;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-hero-inner {
    font-size: 2.7em;
    margin: 20px;
}

@media screen and (max-width: 1000px) {
    .home-hero-inner {
        font-size: 1.5em;
    }
}

.home-link {
    background-color: #2F0050;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: #FFF4E5;
    position: absolute;
    bottom: 30px;
    align-self: center;
    justify-self: center;
    padding: 20px;
    font-size: 1.5em;
}

.home-link:hover {
    background-color: #9c4dd4;
}

.home-datos {
    background-color: #FCA201;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px 50px 30px 50px;
}

.home-datos-animales {
    height: 270px;
    text-align: center;
    border-radius: 15px;
    width: 25vw;
    padding: 20px;
    background-color: #139F6E;

}

.home-datos-endemicas {
    height: 270px;
    text-align: center;
    border-radius: 15px;
    width: 25vw;
    padding: 20px;
    background-color: #9c4dd4;
}

.home-datos-peligro {
    height: 270px;
    text-align: center;
    border-radius: 15px;
    width: 25vw;
    padding: 20px;
    background-color: #E81E5F;
}

.home-datos-desc {
    font-size: 2.5em;
    color: #FFF4E5;
}

.home-datos-num {
    color: #FFF4E5;
}

.home-datos-numpeligro, .home-datos-num {
    margin: 0;
    margin-top: 20px;
    font-size: 4em;
}

@media screen and (max-width: 1000px) {
    .home-datos-animales, .home-datos-endemicas, .home-datos-peligro {
        height: fit-content;
        width: fit-content;
    }
}

.home-animal {
    padding: 30px;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFF4E5;
}

.home-animal-nombre {
    font-size: 3em;
}

.home-animal-card {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    width: 40vw;
    text-align: justify;
}

.home-animal-card h3 {
    font-size: 2em;
}

.home-animal-card p {
    font-size: 1.5em;
    text-align: justify;
}

.home-animal-link {
    position: absolute;
    color: #2F0050;
    font-weight: 900;
    background-color: #FCA201;
    border-radius: 15px;
    text-decoration: none;
    padding: 20px;
    font-size: 1.5em;
    bottom: 50px;
    right: 50px;
}

.home-animal-link:visited {
    color: #2F0050;
}

.home-animal-link:hover {
    background-color: #fdc15a;
}

@media screen and (max-width: 1000px) {
    .home-animal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        position: relative;
        height: fit-content;
        padding-right: 10px;
        padding-left: 10px;
    }

    .home-animal-nombre {
        text-align: center;
    }

    .home-animal-card {
        position: relative;
        text-align: left;
        font-size: 0.7em;
        width: 80%;
    }

    .home-animal-link {
        position: relative;
        justify-self: center;
        bottom: auto;
        right: auto;
        margin-top: 20px;
        font-size: 1em;
    }
}
