{% extends 'base.html' %}
{% block content %}
    <div class="solo">
        <div class="hero" style="
            background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url({{ animal.foto1 }});
        ">
            <div class="hero-inner">
                <h1>{{ animal.nombreAnimal }}</h1>
                <h2>{{ animal.genero }} {{ animal.especie }}</h2>
            </div>
        </div>
        <div class="info">
            <h2>Acerca de {{ animal.nombreAnimal | lower }}</h2>
            <p class="info-desc">{{ animal.descripcion | capfirst }}</p>
        </div>
        <div class="habitat">
            <img class="habitat-imagen" src="{{ animal.foto2 }}" alt="Ilustración de {{ animal.nombreAnimal }}">
            <div class="habitat-info">
                <h2>Hábitat</h2>
                <p>{{ animal.descripcion }}</p>
            </div>
        </div>
    </div>
{% endblock %}