{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="nosotros">
        <div class="logos">
            <div class="nos-unam">
                <img class="nos-logo" src="{% static 'logos/logo1.png' %}" alt="Logo UNAM Cuautitlán">
                <h3>Universidad Nacional Autónoma de México</h3>
            </div>
            <div class="nos-fesc">
                <img class="nos-logo" src="{% static 'logos/logo2.png' %}" alt="Logo FESC Informática">
                <h3>Facultad de estudios Superiores Cuautitlán</h3>
            </div>
            <div class="nos-info">
                <img class="nos-logo" src="{% static 'logos/logo3.png' %}" alt="Logo Informática">
                <h3>Licenciatura en Informática</h3>
            </div>
        </div>
        <div class="nos-titulo">
            <h1>Aplicaciones de bases de datos</h1>
        </div>
        <div class="nos-desc">
            <p>&bullet; Este sitio web fue elaborado con el framework web Django usando el lenguaje de programación Python</p>
            <p>&bullet; Se utilizó PostreSQL como sistema de gestión de bases de datos</p>
            <p>&bullet; El sitio web y la base de datos están alojados en la plataforma Render</p>
        </div>
        <div class="nos-int">
            <h2>Proyecto elaborado por:</h2>
            <h4>Acosta Virgen Luis Fernando</h4>
            <h4>Espinosa Aguilar Ricardo Abimael</h4>
            <h4>Gualito Vázquez José Manuel</h4>
        </div>
    </div>
{% endblock %}